<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>click to downolad the decompressed file</h1>
    <form action="/decompressed/download">
        <button>download</button>
    </form>
    <form action="/huffman">


        <h3>to navigate to home page</h3>
        <button>go home</button>
    </form>
</body>

</html>