<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="home.css">
</head>

<body>
    <% if(filesize!='' ){%>

        <h1>Sorry the file size is greater than 20 mb ,The size-<%= filesize %>
        </h1>
        <% }%>
            <form action="/huffman" method="post">
                <label for="choice">Choose a format :</label>
                <select id="choice" name="choice">
                    <option name="pdf" value="pdf">pdf</option>
                    <option name="text" value="text">text</option>

                </select>
                <button>ok</button>
            </form>
</body>

</html>