<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/pdfupload" method="post" enctype="multipart/form-data">
        <label for="pdf"> enter the pdf file</label>
        <input type="file" name="file" id="pdf" required multiple>
        <button>submit</button>

    </form>

</body>

</html>