<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>click to downolad</h1>
    <form action="/encode/downloaded">
        <button>download</button>
    </form>
    <form action="/huffman/decompress">


        <h3>to decompress a existing file</h3>
        <button>decompress</button>
    </form>
</body>

</html>